.tomato-block{
    margin: 0px auto;
    width: 400px;
    .btn-group{
        text-align: center;
        margin-top: 10px;
        button + button{
            margin-left: 5px;
        }
        button:first-child{
            margin-left: -50px;
        }
    }
    .circle-time{
        font-size: 120px;
    }
}
.tomato-history {
    .row-info td{
        background: #f8f8f9;
        color: #657180;
    }
    .row-err td{
        background: #bbbec4;
        color: #fff;
    }
    .state-cell{
        .run{
            margin-left: 10px;
        }
        .run.undone{
            color: #ed3f14
        }
    }
}