<div class="layout-default">
    <div class="header">
        <ul class="nav clearfix">
            <li class="nav-item" v-for="(item,index) in roots" >
                <a href="javascript:void(0)" v-on:click="goto(item, $event)" v-bind:class="{active: item.selected}" >{{item.name}}</a>
            </li>
        </ul>
    </div>
    <div class="body"> 
        <div class="main">
            <div class="cont">
                <router-view></router-view>                    
            </div> 
        </div>
        <div class="left">
            <ul class="nav nav-child" >
                <li v-for="(item,index) in childs" class="nav-item">
                    <router-link :to="item.href" active-class="active" >{{item.name}}</router-link>
                </li> 
            </ul>
        </div>
    </div>
</div>