@import 'compass/utilities/general';
@mixin clear {
    @include clearfix;
}


/**
创建一个部分栏，值为：(big:300px, normal: 200px, small: 100px)
*/

@mixin create-grid($widths) {
    @each $type,
    $width in ($widths) {
        .#{$layout-css-prefix}-grid-#{$type} {
            margin: 0px;
            padding: 0px;
            float: left;
            width: $width;
            height: 100%;
        }
    }
}


/*
创建一个宽度为100%，而指定了高度的布局块
*/

@mixin create-head-footer($opt){
    @each $name, $height in $opt{
        .#{$layout-css-prefix}-#{$name}{
            margin: 0px;
            padding: 0px;
            width: 100%;
            height: $height; 
        }
    }
}

/*
创建主内容模块
$top-scroll-height: 顶部高度
$footer-scroll-height: 底部高度
*/

@mixin create-cont($top-scroll-height, $footer-scroll-height) {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    padding: { 
        top: $top-scroll-height;
    }
    margin: {
        top: -$top-scroll-height;
    }
    @if $footer-scroll-height>0 {
        padding: { 
            bottom: $footer-scroll-height;
        }
        margin: {
            bottom: -$footer-scroll-height;
        }
    }
}
/*margin-right的生成*/
@mixin create-marginrightOfcont($opt){
    @each $type, $width in $opt{
        .#{$layout-css-prefix}-margin-left-#{$type}{
            margin: {
                left: -$width;
            }
        }
    }
}

@mixin create-maringOfCont($opt){
    @each $type, $width in $opt{
        @if($type != "full"){
            .#{$layout-css-prefix}-main.left-#{$type}{
                margin: {
                    left: $width;
                }
            }
            .#{$layout-css-prefix}-main.right-#{$type}{
                margin: {
                    right: $width;
                }
            }
        }
    }
}