.layout-default .container-fluid:first-child{
    padding: 0px;
}
.layout-default .left{
    background: #EFF2F7;
}
#app{
    height: 100%;
}
.layout-default, .layout-default .main, .layout-default .row, .layout-default .left, .layout-default .right{
    height: inherit;
}
.layout-default .main{
    margin-top: -50px;
    padding-top: 50px;
}