@charset "UTF-8";
/**
创建一个部分栏，值为：(big:300px, normal: 200px, small: 100px)
*/
/*
创建一个宽度为100%，而指定了高度的布局块
*/
/*
创建主内容模块
$top-scroll-height: 顶部高度
$footer-scroll-height: 底部高度
*/
.layout-header {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 60px;
}

.layout-footer {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 40px;
}

.layout-cont {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  padding-top: 60px;
  margin-top: -60px;
  padding-bottom: 40px;
  margin-bottom: -40px;
}

.layout-grid-big {
  margin: 0px;
  padding: 0px;
  float: left;
  width: 300px;
}

.layout-grid-normal {
  margin: 0px;
  padding: 0px;
  float: left;
  width: 200px;
}

.layout-grid-small {
  margin: 0px;
  padding: 0px;
  float: left;
  width: 100px;
}

.clearfix {
  overflow: hidden;
  *zoom: 1;
}
