.layout-default .header {
  padding: 0px;
  height: 60px;
  background: #464c5b;
}

.layout-default, .layout-default .body, .layout-default .left, .layout-default .main, .layout-default .cont {
  height: inherit;
}

#app {
  height: 100%;
}

.layout-default .left {
  background: #EFF2F7;
  padding: 0px;
}

.layout-default .body {
  margin-top: -60px;
  padding-top: 60px;
  width: 100%;
}

.layout-default .body .left {
  float: left;
  width: 200px;
  margin-left: -100%;
}

.layout-default .body .main {
  float: left;
  width: 100%;
}

.layout-default .body .main .cont {
  margin-left: 200px;
}

.clearfix {
  overflow: hidden;
  *zoom: 1;
}

.layout-default .nav {
  margin: 0 auto;
  padding: 0px;
  width: 450px;
  height: 60px;
}

.layout-default .nav .nav-item {
  float: left;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.layout-default .nav .nav-item a {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  color: #657180;
  margin: 0px 2px;
  padding: 0px 10px;
  font-family: "default";
  font-size: 16px;
}

.layout-default .nav .nav-item a:hover,
.layout-default .nav .nav-item a:active,
.layout-default .nav .nav-item a.active {
  color: #fff;
}

.layout-default .nav.nav-child {
  margin: 0px;
  width: auto;
  height: auto;
}

.layout-default .nav.nav-child .nav-item {
  float: none;
}

.layout-default .nav.nav-child .nav-item a {
  height: 40px;
  line-height: 40px;
  width: 200px;
  margin: 0px;
}

.layout-default .nav.nav-child .nav-item a:hover,
.layout-default .nav.nav-child .nav-item a:active,
.layout-default .nav.nav-child .nav-item a.active {
  background: #337ab7;
  color: #fff;
}

.ivu-tabs-nav .ivu-tabs-tab {
  height: auto;
}

.tomato-block {
  margin: 0px auto;
  width: 400px;
}
.tomato-block .title {
  text-align: center;
  margin-left: -10px;
}
.tomato-block .btn-group {
  text-align: center;
  margin-top: 10px;
}
.tomato-block .btn-group button + button {
  margin-left: 5px;
}
.tomato-block .btn-group button:first-child {
  margin-left: -50px;
}
.tomato-block .circle-time {
  font-size: 120px;
}

.tomato-history .row-info td {
  background: #f8f8f9;
  color: #657180;
}
.tomato-history .row-err td {
  background: #bbbec4;
  color: #fff;
}
.tomato-history .state-cell .run {
  margin-left: 10px;
}
.tomato-history .state-cell .run.undone {
  color: #ed3f14;
}

.tomato-setting-block {
  width: 300px;
}
