.layout-default .container-fluid:first-child{
    padding: 0px;
}
.layout-default .left{
    background: $block-noraml-color;
    padding: 0px;
}
#app{
    height: 100%;
}
.layout-default, .layout-default .main, .layout-default .row, .layout-default .left, .layout-default .right{
    height: inherit;
}
.layout-default .main{
    margin-top: -$head-height;
    padding-top: $head-height;
}

