<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="../../skin/mainnorm.css" />
</head>

<body>
    <div class="layout-header">layout-header</div>
    <div class="layout-cont layout-auto-height clearfix">
        <div class="layout-grid-full layout-auto-height">
            <div class="layout-main left-normal right-small">
                可以用scrollTop判断是否存在垂直滚动条，如果不存在则加入最小高度的控制，存在则不控制最小高度。
                 cont<br/>cont<br/>cont<br/>cont<br/>cont<br/>cont<br/>
                cont<br/>cont<br/>cont<br/>cont<br/>cont<br/>cont<br/>
                cont<br/>cont<br/>cont<br/>cont<br/>cont<br/>cont<br/>
                cont<br/>cont<br/>cont<br/>cont<br/>cont<br/>cont<br/>
                cont<br/>cont<br/>cont<br/>cont<br/>cont<br/>cont<br/>
                cont<br/>cont<br/>cont<br/>cont<br/>cont<br/>cont last<br/>
            </div>
        </div>
        <div class="layout-grid-normal layout-margin-left-full">
            left
        </div>
        <div class="layout-grid-small layout-margin-left-small">
            right
        </div>
    </div>
    <div class="layout-footer">layout-footer</div>
</body>

</html>