<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="../../skin/mainnorm.css" />
</head>

<body>
    <div class="layout-header">layout-header</div>
    <div class="layout-cont layout-auto clearfix">
        <div class="layout-grid-full layout-auto">
            <div class="layout-main left-normal right-small">
                cont
            </div>
        </div>
        <div class="layout-grid-normal layout-margin-left-full layout-left">
            left
        </div>
        <div class="layout-grid-small layout-margin-left-small layout-right">
            right
        </div>
    </div>
    <div class="layout-footer">layout-footer</div>
</body>

</html>